.addAddress {
  background-color: #f8f8f8;
  height: 100vh;
  padding: 32px 20px;
  .addAddress-input {
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    height: 96px;
    margin-bottom: 24px;
    &-label {
      font-size: 28px;
      color: #333;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .addAddress-textarea {
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 28px 32px;
    margin-top: 24px;
    margin-bottom: 32px;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    &-label {
      font-size: 28px;
      color: #333;
    }
    &-desc {
      color: #999;
      font-size: 24px;
    }
  }
  .nut-textarea {
    border-radius: 8px;
  }
  .nut-input {
    padding: 0;
  }
}
