.home {
  padding: 16px 32px;
  .nut-grid-item__content {
    padding: 0 !important;
  }
  .nut-grid-item__content--border,
  .nut-grid__border {
    border-width: 0 !important;
  }
  .nut-grid {
    .nut-grid-item:nth-child(odd) {
      padding-right: 8px !important;
      margin-bottom: 16px;
    }
    .nut-grid-item:nth-child(even) {
      padding-left: 8px !important;
      margin-bottom: 16px;
    }
  }
}

.goodItem {
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  &-name {
    font-weight: 400;
    font-size: 28px;
  }
  &-price {
    display: flex;
    align-items: center;
    &-symbol {
      font-size: 24px;
    }
    &-origin {
      font-size: 32px;
      font-weight: 600;
    }
    &-count {
      margin-left: 14px;
      color: rgba(169, 169, 172, 1);
      font-size: 20px;
      text-decoration: line-through;
    }
  }
}
