.detail-container {
  background-color: #f8f8f8;
  color: #333;
  .detail-intro {
    background-color: #fff;
    padding: 32px 24px;
    padding-bottom: 28px;
    border-radius: 32px 32px 0px 0px;
    margin-bottom: 20px;
    margin-top: -10px;
    &-top {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
    }

    &-price {
      font-size: 36px;
    }
    &-bottom {
      font-size: 32px;
      font-weight: 500;
    }
    &-price-u {
      margin-left: 14px;
      color: rgba(169, 169, 172, 1);
      font-size: 20px;
      text-decoration: line-through;
    }
  }

  .detail-selected {
    background-color: #fff;
    padding: 20px 32px;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-bottom: 20px;
    &-left {
      font-size: 28px;
    }
    &-right {
      display: flex;
      align-items: center;
      &-img {
        width: 24px;
        margin-left: 16px;
      }
    }
  }
  .detail-service {
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 160px;
  }
  .detail-divider {
    width: 496px;
    font-size: 28px;
    margin: 32px auto;
    margin-top: 0;
    color: #e2e2e2;
  }
  .detail-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    width: 100%;
    padding: 16px 32px 34px;
    padding-left: 72px;
    z-index: 999;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-service {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    &-message {
      width: 36px;
      margin-bottom: 8px;
    }
    &-btn {
      width: 240px;
    }
  }
}
