.good-modal {
  color: #333;
  padding: 48px 32px;
  padding-bottom: 160px;
  &-top {
    margin-bottom: 48px;
  }
  &-price {
    font-size: 36px;
    font-weight: 600;
  }
  &-price-u {
    margin-left: 14px;
    color: rgba(169, 169, 172, 1);
    font-size: 20px;
    text-decoration: line-through;
  }
  &-middle {
    .good-modal-list {
      .good-modal-title {
        font-size: 28px;
        margin-bottom: 24px;
      }
      .good-modal-info-selected {
        border: 1px solid #0092d8 !important;
        color: #0092d8;
        background-color: rgba(0, 146, 216, 0.08) !important;
      }
      .good-modal-info {
        border: 1px solid transparent;
        background-color: rgba(226, 226, 227, 0.3);
        height: 80px;
        font-size: 28px;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        border-radius: 16px;
        font-weight: 400;
        box-sizing: border-box;
      }
    }
  }
  &-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    width: 100%;
    padding: 16px 32px 34px;
    padding-left: 72px;
    z-index: 999;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
